<template name="list-your-house">
<div class="container-fluid" id="list-house-container">
	<div class="row" >
		<div class="col-md-12">
			<div class="h1 center-text">
				We'll find your next tenant.
			</div>
		</div>
		<div class="col-md-12">
			<div class="help center-text">
				You may have look at <a href="#">Home Owners Guide</a> first.
			</div>
		</div>
		<div class="col-md-12">
		<div class="row" id="options">
		<div class="col-xs-12 col-sm-10 col-md-6">
			<div class="center-text option">
				<h3>Just sit back and relax.</h3>
				<p>A Rentflees execeutive will visit your house.</p>
				<a href="#" id="op1" class="button">Schedule an Appointement Now</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-10 col-md-6">
			<div class="center-text option">
				<h3>But if you are Restless</h3>
				<p>Fill out details yourself.</p>
				<a href="addListingForm" id="op2" class="button">Add Listing Yourself</a>
			</div>
		</div>
		</div>
		</div>
	</div>
</div>
</template>