<template name="loginForm">
  <form class="login-form">
      <div class="form-group has-feedback">
        <input type="email" name="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row hidden wrong-cred-warn" style="color: red;">Wrong Credentials</div>
      <div class="row">
         <div class="pull-left">
              <input type="checkbox"> Remember Me
        </div>
        <div class="pull-right">
        <a id="forget-pass-link" href="#">Forget Password?</a>
        </div>
      </div>
      <div id="sign-in-container">
        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Login">
      </div>
  </form>
</template>

<template name="loginModal">
  <div class="modal fade in" id="login-modal">
    <div class="modal-dialog login-modal-dialog">
     <div class="modal-content">
      <div class="modal-body no-padding">
        <div class="row">
          <div class="col-md-6 no-padding hidden-xs">
            <div class="side-content">
              <img class="img-responsive" src="images/login_page.svg">
            </div>
          </div>

          <span class="close-btn" data-dismiss="modal" aria-hidden="true">&times;</span>
          
          <div class="col-md-6 col-xs-12">
            <div class="main-content">
                <div id="social-connect" style="padding-top:30px;" class="login-slide">
                  <div class="row">
                    <a class="social-login facebook">
                      <i class="fa fa-facebook fa-lg"></i> Login with Facebook
                    </a>
                    <a class="social-login google" id="google-login">
                      <i class="fa fa-google fa-lg"></i> Login with Google
                    </a>
                  </div>
                  <div class="row sm-text">
                    or use your email address
                  </div>
                  <div class="row email-login">
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" >
                        <button class="btn btn-primary login-btn"> Sign In </button> 
                        <button class="btn btn-default signup-btn"> Sign Up </button>
                    </div>
                  </div>
                </div>
              
                <div id="email-login" class="login-slide">
                  <div class="row">
                    <span class="back" aria-hidden="true">&larr;</span><h4>Sign In</h4>
                  </div>
                  <div class="row">
                    <span id="login-msg"></span>
                    {{> loginForm}}
                  </div>
                </div>

                <div id="forget-password" class="login-slide">
                  <div class="row">
                    <span class="back" aria-hidden="true">&larr;</span><h4>Password Reset</h4>
                  </div>
                  <div class="row">
                    FORGET PASSWORD
                  </div>
                </div>

                <div id="signup" class="login-slide">
                  <div class="row">
                    <span class="back" aria-hidden="true">&larr;</span><h4>Sign Up</h4>
                  </div>
                  <div class="row" style="overflow-y: scroll;
                                          overflow-x: scroll;
                                          height: 355px;
                                          width: 469px;"  >
                    {{>signupForm}}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
   </div>
</template>

<template name="usernameModal">
  <div class="modal fade" id="username-modal">
    <div class="modal-dialog">
     <div class="modal-content">
       <label id="sign-in-label">
        Username
       </label>
       <input type="text" name="username" class="form-control" placeholder="Username">
       <button class="btn btn-primary btn-block btn-flat" onClick="addUsername()">Use</button>
     </div>
    </div>
  </div>
</template>