<template name="listing_info">
	{{#if routeHasID}}
		<div class="container-fluid no-padding bg-grey row cantFind">
			<h1>Cannot find home...</h1>
		</div>
	{{else}}
		<div class="container-fluid no-padding bg-grey">
			<div class="main-image">
				<div class="listing-photo-carousel">
						<div><img src="http://dev3.rentflees.com/upload/{{listing.image}}"></div>
					</div>
			</div>
			<div class="row">
				<div class="listing-title row">
					<div class="col-md-2">
						<div class="owner">
							<div class="owner-img"><img alt="owner"></div>
							<div class="owner-name">{{ownerUname}}</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="title">{{listing.title}}</div>
						<div class="location"> {{listing.address}}</div>
							{{listing.furnishing}}
							{{listing.type}}<br />
							{{#if isOwner}}
							<div class="editNotEnabled">
									<span><b>Rent: </b>&#8377; {{listing.rent}}
									&nbsp;&nbsp;&nbsp;&nbsp;
									<a style="color:blue;" id="enableEdit">Edit</a>
									</span>
								<br/>
							</div>
							<div class="editEnabled" style="display:none;">
									<span><b>Rent: </b>
									<input id="rentInput" type="number" value="{{listing.rent}}">
									<a style="color:blue;" id="updateRent">Save</a>
									</span>
								<br/>
							</div>
							{{else}}
							<div>
									<span><b>Rent: </b>&#8377; {{listing.rent}}</span>
								<br/>
							</div>
							{{/if}}
						<span><b>Availability: </b></span>
						{{#if isOwner}}
							<span class="glyphicon glyphicon-chevron-left avail-mod" 
							aria-hidden="true"
							onclick="Listings.update(
											{'_id': '{{listing._id}}'},
											{$inc: {'avail': -1}});"></span>
						{{/if}}

						<span>{{listing.avail}}</span>

						{{#if isOwner}}
							<span class="glyphicon glyphicon-chevron-right avail-mod" 
							aria-hidden="true"
							onclick="Listings.update(
											{'_id': '{{listing._id}}'},
											{$inc: {'avail': 1}});"></span>
						{{/if}}

					</div>
					<div class="col-md-3">
						<div class="title"> </div>
						<h3><b>SCORE: </b>
						{{#if isAdmin}}
							<span class="glyphicon glyphicon-chevron-left avail-mod" 
							aria-hidden="true"
							onclick="Listings.update(
											{'_id': '{{listing._id}}'},
											{$inc: {'score': -1}});"></span>
						{{/if}}

						{{listing.score}}

						{{#if isAdmin}}
							<span class="glyphicon glyphicon-chevron-right avail-mod" 
							aria-hidden="true"
							onclick="Listings.update(
											{'_id': '{{listing._id}}'},
											{$inc: {'score': 1}});"></span>
						{{/if}}

						</h3>
						{{#if isVerified}}
							<h3><b>VERIFIED</b></h3>
							{{#if isAdmin}}
								<button class="btn btn-primary"
										onclick="Listings.update(
											{'_id': '{{listing._id}}'},
											{$set: {'verified': 'false'}});">
									UnVerify</button>
							{{/if}}
						{{else}}
							<h3><b>NOT VERIFIED</b></h3>
							{{#if isAdmin}}
								<button class="btn btn-primary"
										onclick="Listings.update(
											{'_id': '{{listing._id}}'},
											{$set: {'verified': 'true'}});">
									Verify</button>
							{{/if}}
						{{/if}}
					</div>
					<div class="col-md-offset-1 col-md-3 calc-container">
						<span class="title">Cost Calculator</span>
						<div class="calc-content">
							<span class="calc-head">Token Amount: </span> 
								<span class="calc-value inRs">&#8377; {{listing.rent}}</span> <br/>
							<span class="calc-head">Convenience Charge: </span>
								<span class="calc-value inRs">&#8377; {{convenienceFee}}</span> <br/>
							<span class="calc-head">Gateway Charge: </span>
								<span class="calc-value inRs">&#8377; {{gatewayCharge}}</span> <br/>
							<hr class="calc-breaker" />
							<span class="calc-head">Total Cost: </span>
								<span class="calc-value inRs">&#8377; {{totalCost}}</span> <br/>
						</div>
					</div>
				</div>

				<div class="col-md-offset-1 col-md-7">
					<div class="panel panel-info">
						<div class="panel-heading">House Amenities</div>
						<div class="panel-body">
							<ul class="amenities">
								{{#each listing.amenities}}
									<img src="images/filterLabelBlue/{{toLowerCase this}}.png" 
										style="height: 60px;">
								{{/each}}
							</ul>
						</div>
					</div>

					<div class="panel panel-info">
						<div class="panel-heading">Food Services</div>
						<div class="panel-body">
							<ul class="amenities">
								{{#each listing.foodServices}}
									<img src="images/filterLabelBlue/{{toLowerCase this}}.png" 
										style="height: 60px;">
								{{/each}}
							</ul>
						</div>
					</div>

					<div class="panel panel-info">
						<div class="panel-heading">Rules</div>
						<div class="panel-body">
							<ul class="rules">
								<li>6 months min. stay duration, notice period of 1 month thereafter</li>
								<li>House maintenance through Grabhouse's trusted partners with no visiting charges</li>
								<li>Internet installation is based on ISP's feasibility</li>
							</ul>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading border-bottom">
							<h5>4 Reviews</h5>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
						<div class="panel-body">
							<div class="reviews">
								<div class="row review border-bottom">
									<div class="col-md-2">
										<div class="review-person">
											<div class="review-person-img"><img alt="review-person"></div>
											<div class="review-person-name">MR. XYZ</div>
										</div>
									</div>
									<div class="col-md-10">
										<p>Vivamus est nibh, tincidunt molestie tincidunt ut, molestie non eros. Duis non elit eros.</p>
										<div class="row review-footer">
											<p class="review-date">August 5, 2015</p>
											<button class="btn btn-default pull-right">Helpful ?</button>
										</div>
									</div>
								</div>
								<div class="row review border-bottom">
									<div class="col-md-2">
										<div class="review-person">
											<div class="review-person-img"><img alt="review-person"></div>
											<div class="review-person-name">MR. XYZ</div>
										</div>
									</div>
									<div class="col-md-10">
										<p>Vivamus est nibh, tincidunt molestie tincidunt ut, molestie non eros. Duis non elit eros.</p>
										<div class="row review-footer">
											<p class="review-date">August 5, 2015</p>
											<button class="btn btn-default pull-right">Helpful ?</button>
										</div>
									</div>
								</div>
								<div class="row review border-bottom">
									<div class="col-md-2">
										<div class="review-person">
											<div class="review-person-img"><img alt="review-person"></div>
											<div class="review-person-name">MR. XYZ</div>
										</div>
									</div>
									<div class="col-md-10">
										<p>Vivamus est nibh, tincidunt molestie tincidunt ut, molestie non eros. Duis non elit eros.</p>
										<div class="row review-footer">
											<p class="review-date">August 5, 2015</p>
											<button class="btn btn-default pull-right">Helpful ?</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<h5 id="nearby-places">Nearby Places</h5>
							<div class="dropdown pull-right">
								<span>Showing </span>
						      <button type="button" class="dropdown-toggle nearby-places-select" data-toggle="dropdown">
						        <span id="selected-nearby-place">All</span> <span class="caret"></span>
						      </button>
						      <ul class="dropdown-menu" role="menu">
						        <li><a href="#">All</a></li>
						        <li><a href="#">Restaurants</a></li>
						        <li><a href="#">Shopping Malls</a></li>
						        <li><a href="#">Movie Halls</a></li>
						        <li><a href="#">Schools</a></li>
						        <li><a href="#">ATMs</a></li>
						        <li><a href="#">Hospitals</a></li>
						      </ul>
						  </div>
						</div>
						<span id="XCoord" style="display:none;">{{listing.XCoordinate}}</span>
						<span id="YCoord" style="display:none;">{{listing.YCoordinate}}</span>

						<div class="panel-body no-padding">
							{{> mapAddFixMarker}}
						</div>
					</div>
				</div>
			</div>
			<div class="similar-listings">
			<h4>Similar Listings</h4>
			<div class="row similar-listing-carousel">
				{{#each images}}
				<div class="similar-listing">
					<div class="img">
						<img class="img-responsive" src="{{.}}">
					</div>
					<div class="details">
						<div class="title">
							Lorem Ipsum Lorem Ipsum
						</div>
						<div class="inline-block">
							<div class="location"> Karol Bagh, Delhi</div>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
						<div class="rent pull-right">5,000</div>
					</div>
				</div>
				{{/each}}
			</div>
			</div>
		</div>
	{{/if}}
	{{> footer}}
</template>