<template name="footer">
  <footer>
    <div class="row footer-content">
      <div class="col-sm-3 col-md-3">
        <div class="footer-logo">
          {{> rentfleesLogo}}
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <h4>Website Links</h4>
        <ul class="footer-list">
          <li><a href="#">Who are we</a></li>
          <li><a href="#">We are hiring</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Condition</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3">
        <h4>Website Links</h4>
        <ul class="footer-list">
          <li><a href="#">Who are we</a></li>
          <li><a href="#">We are hiring</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Condition</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3">
        <h4>Follow Us</h4>
        <ul class="footer-list">
          <li><a href="#"><i class="fa fa-fw fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fa fa-fw fa-youtube"></i> Youtube</a></li>
          <li><a href="#"><i class="fa fa-fw fa-google-plus"></i> Google</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright-stmt">
      &copy; Copyright 2016. Techflees Solution Pvt. Ltd.
    </div>
  </footer>
</template>