<template name="nav">
  <header class="main-header shadow">
   <div class="logo" onClick="window.location = '/';">
    <img src="images/sl2.png">
   </div>
   <div class="header-container">
    <div class="menu-container">
     <button class="slide left" id="list-my-house" onClick="window.location = '/addListing';"></button>
    {{#if currentUser}}
      <div class="sign-out">Sign Out</div>
      {{else}}
      <div class="sign-in" data-toggle="modal" data-target="#login-modal" >Sign In</div>
    {{/if}}
    </div>
   </div>
  </header>
  {{> loginModal}}
</template>