<template name="nav">
  <style type="text/css">
    @media (min-width: 1111px) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none;
    }
    .navbar.navbar-default{
      height: 60px;
      z-index: 100;
    }
    .navbar-brand-img{
      height: 100%;
    }
    .navbar-brand{
      height: 60px;
    }
    .navbar-link{
      height: 60px;
      line-height: 20px !important;
      min-width: 120px;
      text-align: center
    }
    .navbar-link > a{
      height: 60px;
      line-height: 20px !important;
      font-family: Arial;
      font-size: 20px;
    }
    .navbar-link:hover{
      background-color: #2483B5;
    }
    .navbar-link > a:hover{
      background-color: #2483B5;
    }
    .navbar-link > a:active{
      background-color: #2483B5 !important;
      color: white !important;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
      background-color: #2483B5 !important;
      color: white !important;
    }
    #welcome-text{
      height: 60px;
      line-height: 50px !important;
      font-family: Arial;
      color: #777;
      font-size: 20px;
      margin-right: 20px;
    }
    .navbar-collapse{
      background-color: #F8F8F8;
    }
    nav{
      position: fixed !important;
      width: 100%;
      top: 0;
      transition: all 1s ease;
    }
    nav.hide {
      transform: translate3d(0,-100%,0);
      -webkit-transform: translate3d(0,-100%,0);
      -moz-transform: translate3d(0,-100%,0);
      -o-transform: translate3d(0,-100%,0);
    }
  </style>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img class="navbar-brand-img" alt="Rentflees" src="images/sl2.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li id="welcome-text"></li>
          <li class="navbar-link">
            <a href="/">Home</a>
          </li>
          <li class="navbar-link">
            <a href="/map">Map View</a>
          </li>
          <li class="navbar-link">
            <a href="/addListing">List Your House</a>
          </li>
          <li id="login-dropdown-list" class="navbar-link">
              <a id="nav-btn-accounts">{{ btnContent }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{> loginModal}}
</template>