<template name="nav">
  <header class="main-header shadow">
    <a class="logo" href="/login">
      {{> rentfleesLogo}}
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="col-xs-2 hidden-md hidden-sm hidden-lg">
      <div class="row">
      <a href="#" class="nav-open" data-target="#mobile-nav-modal" data-toggle="modal" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      </div>
      </div>
      <div class="col-xs-8 hidden-md hidden-sm hidden-lg">
        <a  href="#" class="search-modal-toggle" role="button"><i class="fa fa-search fa-lg"></i> Search your Location</a>
      </div>
      <div class="col-xs-2 hidden-md hidden-sm hidden-lg">
        <div class="row">
        <a href="#" class="wishlist-btn"></a>
        </div>
      </div>
      <div class="navbar-custom-menu hidden-xs">
        <ul class="nav navbar-nav">
          <li class=""><a href="addListing" id="list-your-house" class="slide left">&nbsp;</a></li>
          <li class="dropdown whishlist"><a href="#"><i class="fa fa-heart-o fa-lg"></i><span class="hidden-xs">&nbsp;Whishlist</span></a></li>
          {{#if currentUser}}
          <li class="dropdown user-menu hidden-xs"><a href="#">User Menu</a></li>
          {{else}}
          <li class="sign-in hidden-xs"><a href="#" data-target="#login-modal" data-toggle="modal"><i class="fa fa-sign-in fa-lg"></i> Sign in</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
  <div class="modal fade left" id="mobile-nav-modal">
    <div class="modal-dialog nav-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="logo" href="/login">
            {{> rentfleesLogo}}
          </a>
        </div>
        <div class="modal-body">
          <ul class="nav">
            <li><a href="#" data-dismiss="modal">Home</a></li>
            <li><a href="#" data-dismiss="modal">Dashboard</a></li>
            <li><a href="#" data-dismiss="modal">Profile</a></li>
            <li><a href="#" data-dismiss="modal">How it Works</a></li>
            <li><a href="#" data-dismiss="modal" data-target="#login-modal" data-toggle="modal">Sign in</a></li>
          </ul> 
        </div>
      </div>
    </div>
  </div> 
  {{>loginModal}}
</template>