<template name="ui">
<div class="container ui">
	<div class="row" style="margin:5px;" > 
		<button class="btn btn-click">Click Me!</button>
		<button class="btn btn-click disabled">Click Me!</button>
		<button class="btn btn-primary">Click Me!</button>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label>Label</label>
				<input class="form-control" type="text" name="" placeholder="Enter something">
			</div>
			<div class="form-group">
				<select class="form-control" type="text" name=""></select>
			</div>
		</div>
	</div>
</div>
</template>