<template name="about-us">
  <link rel="stylesheet" href="css3-animate-it-master/css/animations.css">
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height:500px;
      margin: auto;

  }

  .aboutUsImg{
    width: 100%;
  }
 
  h2{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 170%;
    color:#9e9e9e;
    padding-top:20px;
    padding-bottom:40px;
    padding-left: 100px;
    padding-right: 100px;
  }
  h4{
      font-family:Verdana;
      color:#424242;
  }
  h5{
    font-family:Verdana;
    color:#616161;
  }
  p{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 150%;
  }
  .imiText{
      color:#424242;
      font-size: 130%;
      font-family:"Comic Sans MS", cursive, sans-serif;
  }
  ul#navy li a {
    display:inline;
    font-family:Verdana;
    font-size:130%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #bdbdbd;
}
ul#navy li{
  display:inline;
}
#navy {
  list-style: none;
  text-align: center;
  padding-top: 20px;

}

 #navy li a:hover{
   color: #00b0ff;
 }

ul#heady li{
  display:inline;
}

 ul#heady li a {
    display:inline;
    font-family:Verdana;
    font-size:110%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #fff;
}
#signy{
  background:#00b0ff;
  padding-top:9px;
  padding-bottom:10px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius:10px;
}


  </style>


<div class="jumbotron" style="background: url(https://im-cdn.com/assets/images/branding/about.d094a3c728db.png); ">

  <ul id="navy"  >
    <li><a href="#" style="color:white;">About</a> </li>
    <li><a href="#">Team</a> </li>
    <li><a href="#">Careers</a> </li>
    <li><a href="#">Press</a> </li>
    <li><a href="#">Contact</a> </li>

  </ul>

  <h1 style="color:#fff;font-size: 200%;font-family:Verdana; text-align: center;padding-top: 50px; ">India's emerging C2C payments & e-commerce platform.</h1>

  <h2 style="text-align: center; ">We make digital commerce universally accessible to create newer opportunities & sustainable livelihoods.</h2>

  <h3 style="text-align: center;color:#bdbdbd;font-family: Verdana;font-size: 130%;padding-left: 80px;padding-right: 80px;padding-bottom: 20px; ">We believe every business idea deserves to be on the Internet to grow. But very few can. We make it possible with technology, data, design and little bit of Mojo (​noun | mo·jo | meaning magic​).</h3>


</div>







<div class="container" style="background:#fafafa;padding-top:60px;padding-bottom:80px;margin-top:90px;">
  <div class="row animatedParent" style="text-align:center;" >
      <h1 style="font-size: 250%;" class="animated bounceIn" >Power <span style="color:#03a9f4">Tools </span>for different needs...</h1>
  </div>


  <div class="row" style="margin-top:60px;">
      <div class="col-sm-4 col-md-4 col-md-offset-2 animatedParent">
          <div class="imiText animated bounceInLeft" style="float:left;margin-right:20px;">
              reach out to<br>over 50 Lack<br>Travellers
          </div>
          <div style="float:left;" class="animated bounceInLeft">
              <img class="aboutUsImg" src="http://placehold.it/100x100">
          </div>
      </div>
      <div class="col-sm-4 col-md-4 col-md-offset-1 animatedParent">
             
          <div style="float:left;" class="animated bounceInRight">
              <img class="aboutUsImg" src="http://placehold.it/100x100">
          </div>

          <div class="imiText animated bounceInRight" style="float:left;margin-left:20px;" >
              reach out to<br>over 50 Lack<br>Travellers
          </div>
      </div>
  </div>



 <div class="row" style="margin-top:60px;">
      <div class="col-sm-4 col-md-4 col-md-offset-2 animatedParent">
          <div class="imiText animated bounceInLeft" style="float:left;margin-right:20px;">
              reach out to<br>over 50 Lack<br>Travellers
          </div>
          <div style="float:left;" class="animated bounceInLeft">
              <img class="aboutUsImg" src="http://placehold.it/100x100">
          </div>
      </div>
      <div class="col-sm-4 col-md-4 col-md-offset-1 animatedParent">
             
          <div style="float:left;" class="animated bounceInRight">
              <img class="aboutUsImg" src="http://placehold.it/100x100">
          </div>

          <div class="imiText animated bounceInRight" style="float:left;margin-left:20px;" >
              reach out to<br>over 50 Lack<br>Travellers
          </div>
      </div>
  </div>

  

</div>



<div class="well" style="padding-top:50px;padding-bottom:70px; background:#bbdefb;margin-top:90px; ">

  <h3 style="text-align:center;color:#2196f3;font-family:Verdana;font-size:230%; ">Our numbers speak for themselves</h3>
  <br>
  <br>
  <div class="row" style="font-align:center;">

    <div class="col-md-2 col-md-offset-1" style="font-style:Verdana;font-size: 150%;color:#212121; ">150,000+<br> &nbsp; Sellers</div>

    <div class="col-md-2 " style="font-style:Verdana;font-size: 150%;color:#212121; ">150,000+<br>&nbsp; Sellers</div>

    <div class="col-md-2 " style="font-style:Verdana;font-size: 150%;color:#212121; ">150,000+<br>&nbsp; Sellers</div>

    <div class="col-md-2 " style="font-style:Verdana;font-size: 150%;color:#212121; ">150,000+<br>&nbsp; Sellers</div>

    <div class="col-md-2 " style="font-style:Verdana;font-size: 150%;color:#212121; ">150,000+<br>&nbsp; Sellers</div>

  </div>

</div>


<br>
<br><br>




<div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker12"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true
            });
        });
    </script>
</div>




<br><br><br>

<div class="row" >
<h4 style="text-align:center;font-size:190%;">Investors and Advisors</h4>
<h5 style="text-align:center;font-size:120%;">Advising us are some of the best angel investors and venture capitalists.</h5>

<br><br>
<div class="col-md-2 col-md-offset-2">
  <img class="aboutUsImg" src="https://im-cdn.com/assets/images/branding/kalaari-funding.830a95e6413d.png">
</div>
<div class="col-md-2 col-md-offset-1">
  <img class="aboutUsImg" src="https://im-cdn.com/assets/images/branding/kalaari-funding.830a95e6413d.png">
</div>
<div class="col-md-2 col-md-offset-1">
  <img class="aboutUsImg" src="https://im-cdn.com/assets/images/branding/kalaari-funding.830a95e6413d.png">
</div>

</div>




<h1 style="text-align:center;font-family:Verdana;color:#212121;margin-top: 180px; ">What our Client's say:</h1>


<!-- Next thing Starts -->

 <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" style="background:#eeeeee; ">
  <!-- Indicators -->
 

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="text-align:center;" >

    <div class="item active" style="padding-bottom:40px;">
      <h2>"After weeks of having my listing on other sites with no luck, I found Apartments.com and decided to give it a try. Within 3 days I had a qualified renter!"</h2>
      <hr>
      <h4>Sydney L. in Austin, TX </h4>
      <h5>June 13th, 2016</h5>
    </div>

    <div class="item">
    <h2>"After weeks of having my listing on other sites with no luck, I found Apartments.com and decided to give it a try. Within 3 days I had a qualified renter!"</h2>
     <hr>
      <h4>Sydney L. in Austin, TX </h4>
      <h5>June 13th, 2016</h5>
    </div>

<div class="item">
    <h2>"After weeks of having my listing on other sites with no luck, I found Apartments.com and decided to give it a try. Within 3 days I had a qualified renter!"</h2>
     <hr>
      <h4>Sydney L. in Austin, TX </h4>
      <h5>June 13th, 2016</h5>
    </div>

<div class="item">
    <h2>"After weeks of having my listing on other sites with no luck, I found Apartments.com and decided to give it a try. Within 3 days I had a qualified renter!"</h2>
     <hr>
      <h4>Sydney L. in Austin, TX </h4>
      <h5>June 13th, 2016</h5>
    </div>


  

  
  </div>

  <!-- Controls -->
  <a class=" carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


   <script src="./css3-animate-it-master/js/css3-animate-it.js"></script>
   {{> footer}}
</template>

