.negMargin{
  margin: -7px;
}

.slick-slide{
  width: 100vw;
}

.slider input{
  display: inline-block !important;
}

#addListingForm{
	max-width: 500px;
}
#listHead{
  text-align:center;
  font-family: Arial;
}
.map-container{
  height: 65vh !important;
}

@media only screen and (max-width: 990px) {
  #addListingForm{
    max-width: 100%;
    margin-top: 80px;
  }
}

.admin-console {
  padding: 20px;
}

/*form-progress*/
.form-progress {
  margin: 15px 0;
  padding: 0;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

.form-progress li {
  list-style-type: none;
  color: #c1c1c1;
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}

.form-progress li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: #f1f1f1;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  padding: 0 7px;
}

/*progressbar connectors*/
.form-progress li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #f1f1f1;
  position: absolute;
  left: -50%;
  top: 9px; 
  z-index: -1; /*put it behind the numbers*/
}

.form-progress li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.form-progress li.active:before,  .form-progress li.active:after{
  background: #27AE60;
  color: white;
}

.slick-slide fieldset{
  display: block;
  margin: 0 auto;
  float: none;
}

#uploaded-image-carousel{
  height: 200px;
}
.dashed-border{
  border: 2px dashed #ccc;
}

.slick-slider img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: inherit;
  margin: auto;
  padding: 0 5px; 
}

img[style="opacity: 0;"]{ 
  background: #fff url('packages/udondan_slick/vendor/slick/slick/ajax-loader.gif') center center no-repeat !important; 
  opacity: 1 !important;
}

.slick-list, .slick-track{
  height: 100%;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-next{
  right: 5px !important;
}
.slick-prev{
  left: 5px !important;
}

.step-form .slider{
  margin-bottom: 0;
}

.step-form fieldset{
  padding:20px;
  border: 1px solid #d2d6de;
  background-color: #fff;
}

.step-form legend{
  padding: 5px;
  width: auto;
  background-color: inherit;
  border: 1px solid #d2d6de;
}

.uploaded-img-wrapper{
  height: 100%;
}
.uploaded-img-wrapper .prompt-box{
  margin: 2px;
  border: 1px dashed #d2d6de; 
}

#add-photo{
  display: block;
  margin: 78px auto;
}