<template name="add-listing">
  <h1 id="listHead">List Your House</h1>
  <div class="form-container">
    {{#if currentUser}}
       <div class="col-md-6">
         <div style="margin:10px;">
           <img id="uploadedImg" src="" style="display: none; width: 500px; height: 500px; " />
           {{> upload_bootstrap }}
         </div>
         <div class="map-container">
           {{> mapAdd }}
         </div>
       </div>
      <div class="col-md-6 autoform-container">
        {{> quickForm collection="Listings" id="addListingForm" type="normal"}}
      </div>
      <hr>
    {{/if}}
  </div>
  {{> usernameModal}}
</template>
<template name="mapAdd">
  <div class="map-container">
    <!--<input id="pac-input" class="controls form-control input-lg" type="text" placeholder="Search Box">-->
    {{> googleMap name="map" options = mapOptions}}
  </div>
</template>

<template name="addListing">
<div class="container-fluid">

<div class="col-md-12 col-sm-12 col-xs-12">
<form class="from-horizontal step-form" role="form">
  
  <ul class="form-progress">
    <li class="active">Basic Info</li>
    <li>Amenities</li>
    <li>Location</li>
    <li>Photos</li>
  </ul>

  <div class="slider">
    <div>
      <fieldset class="col-md-10" id="basic" data-next="amenities">
        <legend>Step 1: <strong>Basic Details</strong> </legend>
        <div class="col-md-12">
        <div class="form-group">
        <label>Title</label>
        <input name="text" class="form-control" id="listingTitle" placeholder="An eye-candy title for your house">
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group">
        <label>Type</label>
        <select name="type" class="form-control" id="listingType">
          <option>Room</option>
          <option>Apartment</option>
          <option>Entire House</option>
        </select>
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group">
        <label>Furnishing</label>
        <select name="type" class="form-control" id="furnishing">
          <option>Fully Furnished</option>
          <option>Semi Furnished</option>
          <option>Unfurnished</option>
        </select>
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group">
          <label>Tentant Preference (Gender)</label>
          <div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <input type="radio" name="tenantPref" value="Male"> Male
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <input type="radio" name="tenantPref" value="Female"> Female
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <input type="radio" name="tenantPref" value="Family"> Family
            </div>
          </div>
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group">
        <label>Tentant Preference (Occupation)</label>
        <div>
        <div class="col-md-6 col-sm-12 col-xs-12">
        <input type="radio" name="occupation" value="Student"> Student
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
        <input type="radio" name="occupation" value="Employee"> Employee
        </div>
        </div>
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group">
        <label for="rent" >Monthly Rent</label>
        <div class="input-group">
        <span class="input-group-addon">₹</span>
        <input type="text" class="form-control" id="rent" placeholder="Mahine ka kitna loge">
        <span class="input-group-addon">per month</span>
        </div>
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group">
        <label>Security Deposit</label>
        <div class="input-group">
        <span class="input-group-addon">₹</span>
        <input type="text" class="form-control" id="security">
        </div>
        </div>
        </div>
        
        <div class="col-md-3 col-sm-4 col-xs-6 pull-right " >
          <button class="btn btn-primary btn-block btn-flat next-step">Next</button>
       </div>
      </fieldset>
    </div>
    <div>
      <fieldset  class="col-md-10" id="amenities" data-prev="basic" data-next="location">
        <legend>Step 2: <strong>Amenities and Services</strong> </legend>
        <label>Food Services</label>
        <div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="food" value="Breakfast"> Breakfast
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="food" value="Lunch"> Lunch
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="food" value="Dinner"> Dinner
        </div>
        </div>

        <label>House Amenities and Services</label>
        <div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="TV"> TV
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="DTH Service"> DTH Service
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Wi-Fi"> Wi-Fi
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Fridge"> Fridge
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="AC"> AC
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Geyser"> Geyser
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Water Purifier"> Water Purifier 
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Washing Machine"> Washing Machine
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Sofa"> Sofa
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Table"> Table
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Cupboards"> Cupboards
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Shoe Rack"> Shoe Rack
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Gas Stove"> Gas Stove
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Modular Kitchen"> Modular Kitchen
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="amenities" value="Room Service"> Room Service
        </div>
        </div>

        <label>Building Amenities and Service</label>
        <div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="building-amenities" value="CCTV"> CCTV
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="building-amenities" value="Security"> Security
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="building-amenities" value="Power Backup"> Power Backup
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="building-amenities" value="Water Supply"> Water Supply
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="building-amenities" value="Clubhouse"> Clubhouse
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="building-amenities" value="Parking"> Parking
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="building-amenities" value="Swimming Pool"> Swimming Pool
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="building-amenities" value="Gym"> Gym
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="checkbox" name="building-amenities" value="Elevator"> Elevator
        </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 pull-left" >
          <button class="btn btn-primary btn-block btn-flat prev-step">Back</button>
       </div>
        <div class="col-md-2 col-sm-4 col-xs-6 pull-right" >
          <button class="btn btn-primary btn-block btn-flat next-step">Next</button>
       </div>
      </fieldset>
    </div>
    <div>
      <fieldset id="location" data-prev="amenities" data-next="photo">
        <legend>Step 3: <strong>Location</strong> </legend>
        <div>
        <div class="col-md-8 col-sm-12 col-xs-12"> 
        {{> mapAdd}}
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="form-group">
            <label>City</label>
            <select class="form-control" id="cityListing">
              <option name="cityListing" value="Delhi">Delhi</option>
              <option name="cityListing" value="Mumbai">Mumbai</option>
              <option name="cityListing" value="Banglore">Banglore</option>
              <option name="cityListing" value="Channai">Chennai</option>
            </select>
          </div>
          <div class="form-group">
            <label>Locality</label>
            <input name="text" class="form-control locality" id="pac-input">
          </div>
          <div class="form-group">
            <label>Landmark</label>
            <input name="text" class="form-control landmark" id="pac-input">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input name="text" class="form-control address" id="pac-input">
          </div>
        </div>
        </div>
        <p>Now point marker in map on right side to the exact location.</p>
        <div class="col-md-2 col-sm-4 col-xs-6 pull-left" >
          <button class="btn btn-primary btn-block btn-flat prev-step">Back</button>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 pull-right" >
          <button class="btn btn-primary btn-block btn-flat next-step">Next</button>
        </div>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <legend>Step 4: <strong>Add Photos</strong> </legend>
        <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="uploaded-image-carousel" class="dashed-border">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding">
                <div class="uploaded-img-wrapper">
                  <div class="prompt-box">
                    <button class="btn btn-primary" id="add-photo">Add photos</button>
                  </div>
                </div>
              </div>
          {{#each images}}
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding"><img src="images/{{.}}" /></div>
          {{/each}}
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-offset-4 col-md-2">
          <input type="file" class="form-control hidden" id="file" multiple>
        </div> -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="margin:10px;">
               <img id="uploadedImg" src="" style="display: none; width: 500px; height: 500px; " />
               {{> upload_bootstrap }}
            </div>
            {{#if isAdmin}}
            <div style="margin:10px;">
              <div class="adminConsole">
                <input type="checkbox" name="verified">Verified<br />
              </div>
              <div class="adminConsole">
                <span>Furnishing</span><input type="number" name="furnishingScore"><br />
              </div>
              <div class="adminConsole">
                <span>Location</span><input type="number" name="locationScore"><br />
              </div>
              <div class="adminConsole">
                <span>Space</span><input type="number" name="spaceScore"><br />
              </div>
            </div>
            {{/if}}
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 pull-left" >
          <button class="btn btn-primary btn-block btn-flat prev-step">Back</button>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 pull-right" >
          <button class="btn btn-primary btn-block btn-flat next-step" id="submit-listing">Submit</button>
        </div>
      </fieldset>
    </div>
  </div>
</form>
</div>
</div>
</template>