<template name="addListing">
<!--
{{#if curarentUser}}
	{{> quickForm collection="Listings" id="addListingForm" type="normal"}}
{{/if}}

<img id="uploadedImg" src="" style="display: none; width: 500px; height: 500px; " />
{{> upload_bootstrap }}
<hr>
{{> mapAdd }}-->
<div class="container">
<h4>Add Your Listings</h4>
<form class="from-horizontal" role="form">
	<!-- Step 1. Basic Details-->
	<div class="col-md-4">
	
	<div class="form-group">
	<label>Type</label>
	<select name="type" class="form-control">
		<option>Room</option>
		<option>Apartment</option>
		<option>Entire House</option>
	</select>
	</div>
	
	<div class="">
	<label>Furnishing</label>
	<select name="type" class="form-control">
		<option>Fully Furnished</option>
		<option>Semi Furnished</option>
		<option>Unfurnished</option>
	</select>
	</div>

	<div class="form-group">
	<label>Tentant Preference</label>
	<div>
	<div class="col-md-4">
	<input type="checkbox">Male
	</div>
	<div class="col-md-4">
	<input type="checkbox">Female
	</div>
	<div class="col-md-4">
	<input type="checkbox">Family
	</div>
	</div>
	</div>

	<div class="form-group">
	<label for="rent" >Monthly Rent</label>
	<input type="" name="rent" class="form-control">
	</div>
	
	<div class="form-group">
	<label>Security Deposit</label>
	<input type="" name="security" class="form-control">
	</div>
	</div>
	<!-- Step 2. Location-->
	

	<!-- Step 3. -->
	<div class="col-md-8">
	Food Services:<br>
	<div class="col-md-4">
	<input type="checkbox" name="breakfast"> Breakfast
	</div>
	<div class="col-md-4">
	<input type="checkbox" name="lunch"> Lunch
	</div>
	<div class="col-md-4">
	<input type="checkbox" name="dinner"> Dinner
	</div>

	House Amenities and Services:<br>
	<div class="col-md-4">
	<input type="checkbox">TV
	</div>
	<div class="col-md-4">
	<input type="checkbox"> DTH Service
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Wi-Fi
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Fridge
	</div>
	<div class="col-md-4">
	<input type="checkbox"> AC
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Geyser
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Water Purifier 
	</div>
	<div class="col-md-4">
    <input type="checkbox"> Washing Machine
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Sofa
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Table
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Cupboards
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Shoe Rack
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Gas Stove
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Modular Kitchen
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Room Service
	</div>

	Building Amenities and Service:<br>
	<div class="col-md-4">
	<input type="checkbox"> CCTV
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Security
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Power Backup
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Water Supply
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Clubhouse
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Parking
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Swimming Pool
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Gym
	</div>
	<div class="col-md-4">
	<input type="checkbox"> Elevator
	</div>
	</div>
</form>
</div>
</template>

<template name="mapAdd">  
  <div class="map-container">
    <input id="pac-input" class="controls form-control input-lg" type="text" placeholder="Search Box">
    {{> googleMap name="map" options=mapOptions}}
  </div>
</template>