.filterLabel>img{
    margin-bottom: 15px;
}

.filterLabel{
    padding: 18px;
    text-align: center;
    min-width: 160px;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 450px;
    overflow-y: auto;
}

/*
.box{
	position: relative;
  	height: 300px;
  	margin: 0;
  	padding: 0;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: width 0.3s ease-in-out;
}

.box .box-image{
	max-height: 67%;
    overflow: hidden;
    position: relative;
}

.box .box-image > img{
	display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border: 0;
}

.box-title{
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    margin:0;
}

.box .box-content{
	padding: 6px 20px;
	border-radius: 0;
	max-height: 33%;
}

.box .box-action{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid rgba(160,160,160,0.2);
    padding: 10px;
    z-index: 2;
    background-color: inherit;
}
*/

/*MAP PANEL STYLING*/
#map-panel.map-panel{
    height:500px;
}

#map-panel{
    height: 50px;
    transition: height 0.3s ease-in-out;
}

.map-container-container{
    padding-top: 10px;
}

.map-container{
    margin: auto;
}

.filter-panel{
    width: 100%;
    height: 100%;
}

.filter-heading{
    font-weight: 300;
    font-size: 16px;
    padding: 15px 0;
    border-bottom: 1px solid #f4f4f4;
}

.filter-name{
    padding: 5px;
}

.filter-section{
    margin: 20px 0;
}

.filter-section:not(:first-child){
    border-top: 1px solid #f4f4f4;
}

.list-card{
    padding: 10px 0;
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d0d0d0;
}

.list-card .img-wrapper{
    position: relative;
    display: block;
    float: none;
    width: 100%;
    height: 300px;
    margin: 0;
}

.img-wrapper img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.list-card .info-wrapper{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding : 0 5px;
}

.info-wrapper > .row{
    padding: 5px 0;
}

.info-wrapper .info-head{
    border-bottom: 1px solid #f4f4f4;
}

.info-head .title{
    font-weight: 300;
    font-size: 2rem;
    display: inline-block;
}

.info-head .location:before{
    font-family: fontAwesome;
    content: "\f041 ";
}

.info-head .location{
    color: grey;
    font-size: 12px;
}

.info-head .build-info{
    font-size: 12px;
}

@media(min-width: 768px){
    .list-card{
        height: 235px;
    }

    .list-card .img-wrapper{
        float: left;
        width: 30%;
        height: 100%;
    }

    .list-card .info-wrapper{
        float: left;
        width: 70%;
        height: 100%;
        padding : 0 10px;
    }

    .info-wrapper > .row{
        padding: 10px 0;
    }

    .info-head .location{
        font-size: 14px;
    }

    .info-head .build-info{
        font-size: 14px;
    }
}

.info-head .rent{
    display: block;
}

.info-wrapper .detail{
    border-bottom: 1px solid #f4f4f4;
}

.info-wrapper .footer .rating{
    text-align: center;
    color:  #FFD700;
}

.info-wrapper .footer .btn{
    width: 100%;
}

#map-control-links{
    padding: 10px 0;
}
#show-all-map-button{
    display: none;
}
#filter-map-button{
    display: none;
}

#sort{
    margin-top: 3px;   
}

.list-container{
    padding:0 5px;
}