<template name="listview">
<div class="container-fluid bg-grey no-padding">
  	<div class="col-md-2 col-sm-2 col-lg-2 hidden-xs panel">
  		<div class="filter-panel">
  			<div class="filter-heading"> Filter your Search </div>
  			<div class="filter-container">
	  			<div class="filter-section">
					<div class="filter-name">Property Type</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="type" value="Room"> Room
							</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="type" value="Apartment"> Apartment
							</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="type" value="Entire House"> Entire House
							</label>
						</div>
					</div>
	  			</div>
	  			<div class="filter-section">
		        	<div class="filter-name">
		       			Monthly Rent
		      		</div>
		      		<div id="price-range-div" style="text-align:center;padding-bottom:10px;">
		       			₹ 14000 - ₹ 40000
		      		</div>
		      		<input id="rentSlider" type="text" class="span2" value="" 
		      			data-provide="slider"
		      			data-slider-min="5000"
		      			data-slider-max="50000"
		      			data-slider-step="500"
		      			data-slider-value="[14000,40000]"
		      			data-slider-tooltip="hide"/>
		     	</div>
		     	<div class="filter-section">
					<div class="filter-name">Tenant Type</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="tenantPref" value="Male"> Male
							</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="tenantPref" value="Female"> Female
							</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="tenantPref" value="Family"> Family
							</label>
						</div>
					</div>
	  			</div>
			    <div class="filter-section">
					<div class="filter-name">Furnishing</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="furnishing" value="Furnished"> Furnished
							</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="furnishing" value="Semi Furnished"> Semi-Furnished
							</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="furnishing" value="Unfurnished"> Unfurnished
							</label>
						</div>
					</div>
	  			</div>
	  			<div class="filter-section">
					<div class="filter-name">Food Services</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="foodServices" value="Breakfast"> Breakfast
							</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="foodServices" value="Lunch"> Lunch
							</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<label>
								<input type="checkbox" name="foodServices" value="Dinner"> Dinner
							</label>
						</div>
					</div>
				</div>
			    <div class="filter-section">
					<div class="filter-name">Building Amenities and Services</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						                <input type="checkbox" name="building-amenities" value="CCTV"> CCTV
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						                <input type="checkbox" name="building-amenities" value="Security"> Security
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						                <input type="checkbox" name="building-amenities" value="Power Backup"> Power Backup
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						                <input type="checkbox" name="building-amenities" value="Water Supply"> Water Supply
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						                <input type="checkbox" name="building-amenities" value="Clubhouse"> Clubhouse
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						                <input type="checkbox" name="building-amenities" value="Parking"> Parking
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						                <input type="checkbox" name="building-amenities" value="Swimming Pool"> Swimming Pool
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						                <input type="checkbox" name="building-amenities" value="Gym"> Gym
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						                <input type="checkbox" name="building-amenities" value="Elevator"> Elevator
						        </label>
						</div>
					</div>
				</div>

				<div class="filter-section">
					<div class="filter-name">House Amenities and Services</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="TV"> TV
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="DTH Service"> DTH S
						        ervice</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Wi-Fi"> Wi-Fi
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Fridge"> Fridge
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="AC"> AC
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Geyser"> Geyser
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Water Purifier"
						        > Water Purifier </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Washing Machine"> 
						        Washing Machine</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Sofa"> Sofa
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Table"> Table
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Cupboards"> Cupboards
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Shoe Rack"> Shoe Rack
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Gas Stove"> Gas Stove
						        </label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Modular Kitchen"> 
						        Modular Kitchen</label>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						        <label>
						        	<input type="checkbox" name="amenities" value="Room Service"> Room Service
						        </label>
						</div>
					</div>
	  			</div>
  			</div>
  		</div>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 pull-right">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel" id="map-panel">
  		<div class="col-md-2 col-sm-6 col-xs-6">
  			<div id="show-map"><a href="#" id="show-map-button">Show Map View</a></div>
  		</div>
  		<div class="col-md-4 col-sm-6 col-xs-6 pull-right">	
  			<select class="form-control" id="sort" name="sorting">
  				<option value="rentL2H">Sort by Rent (Low to High)</option>
  				<option value="rentH2L">Sort by Rent (High to Low)</option>
  			</select>
  		</div>
  		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 map-container-container hidden">
	        {{> mapAdd }}
	    </div>
  	</div>
  	<!--
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel list-container">
  		{{#each listingsCollection}}
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="box shadow">
		      <div class="box-image">
		        <img src="images/home3.jpg">
		      </div>
		      <div class="box-content">
		        <p class="box-title"> A very long Listing Title Title Title</p>
		      </div>
		      <div class="box-action">
		        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-right">
		          <div class="sm-text grey">Rent</div>
		          <div class="amount">4,000</div>
		        </div>
		        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		          <div class="sm-text grey">Security</div>
		          <div class="amount">10,000</div>
		        </div>
		      </div>
		    </div>
		</div>
  		{{/each}}
  	</div>
  	-->
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel list-container">
	{{#each listingsArr}}
        {{#if isVerifiedorAdmin}}
			<div class="row list-card">
				<div class="img-wrapper">
					<div><img data-lazy="http://dev3.rentflees.com/upload/{{image}}"></div>
				</div>
				<div class="info-wrapper">
					<div class="row info-head">
						<div class="col-md-8 col-sm-8 col-xs-8 border-right">
							<div class="title">{{title}}</div>
							<div class="location"> {{address}}</div>
							<div class="build-info"> {{furnishing}} {{type}}</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 no-padding" > <div class="sm-text">RENT</div> <div class="rent"> {{rent}}</div></div>
					</div>
					<div class="row detail">
						<div class="col-md-4 col-sm-4 col-xs-4 border-right">
							<div class="sm-text">SECURITY</div>
							<div class="amount"> {{security}}</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 border-right">
							<div class="sm-text">FURNISHING</div>
							<div class="bold-text"> {{furnishing}}</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="sm-text">AVAILABLE FOR</div>
							<div class="bold-text"> {{tenantPref}}</div>
						</div>
					</div>
					<div class="row footer">
						<div class="col-md-4 col-sm-4 col-xs-8 border-right">
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
							<div class="sm-text">4 Reviews</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-2 no-padding">
							<button class="btn btn-default"
								onclick="window.location.href='/aboutHome?id={{_id}}';">
								<span class="hidden-xs">Read More</span>
							</button>
						</div>
						{{#if isAdmin}}
							<div class="col-md-4 col-sm-4 col-xs-2 no-padding">
								{{#if isVerified}}
									<button class="btn btn-success">
										<span class="hidden-xs">Verified</span>
									</button>
								{{else}}
									<button class="btn btn-danger">
										<span class="hidden-xs">Not Verified</span>
									</button>
								{{/if}}
							</div>
						{{else}}
							<div class="col-md-4 col-sm-4 col-xs-2 no-padding">
								<button class="btn btn-primary"><i class="fa fa-heart-o fa-lg"></i> <span class="hidden-xs">Shortlist</span></button>
							</div>
						{{/if}}
					</div>
				</div>
			</div>
		{{/if}}
    {{/each}}
	</div>
  	</div>
</div>
</template>