<template name="foodServicesModal">
	<div id="foodServices" class="modal fade" role="dialog">
  		<div class="modal-dialog">
			<div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Food Services</h4>
			    </div>
			    <div class="modal-body">
			      	<div class="row">
							<label class="filterLabel">
								<img src="images/filterLabelGrey/breakfast.png" style="height: 60px;">
								<input style="display:none;" type="checkbox" name="foodServices" value="Breakfast"> <br/>
								<span class="filterName">Breakfast</span>
							</label>
							<label class="filterLabel">
								<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
								<input style="display:none;" type="checkbox" name="foodServices" value="Lunch"> <br/>
								<span class="filterName">Lunch</span>
							</label>
							<label class="filterLabel">
								<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
								<input style="display:none;" type="checkbox" name="foodServices" value="Dinner"> <br/>
								<span class="filterName">Dinner</span>
							</label>
					</div>
      			</div>
    		</div>

  		</div>
	</div>
</template>

<template name="buildingModal">
	<div id="buildingAmenities" class="modal fade" role="dialog">
  		<div class="modal-dialog">
			<div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Building Amenities</h4>
			    </div>
			    <div class="modal-body">
			      	<div class="row">
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						                <input style="display:none;" type="checkbox" name="building-amenities" value="CCTV"> <br/>
						                <span class="filterName">CCTV</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						                <input style="display:none;" type="checkbox" name="building-amenities" value="Security"> <br/>
						                <span class="filterName">Security</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						                <input style="display:none;" type="checkbox" name="building-amenities" value="Power Backup">
						                <br/>
						                <span class="filterName">Power Backup</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						                <input style="display:none;" type="checkbox" name="building-amenities" value="Water Supply">
						                <br/>
						                <span class="filterName">Water Supply</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						                <input style="display:none;" type="checkbox" name="building-amenities" value="Clubhouse"> <br/>
						                <span class="filterName">Clubhouse</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/parking.png" style="height: 60px;">
						                <input style="display:none;" type="checkbox" name="building-amenities" value="Parking"> <br/>
						                <span class="filterName">Parking</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/pool.png" style="height: 60px;">
						                <input style="display:none;" type="checkbox" name="building-amenities" value="Swimming Pool">
						                <br/>
						                <span class="filterName">Swimming Pool</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/gym.png" style="height: 60px;">
						                <input style="display:none;" type="checkbox" name="building-amenities" value="Gym"> <br/>
						                <span class="filterName">Gym</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/elevator.png" style="height: 60px;">
						                <input style="display:none;" type="checkbox" name="building-amenities" value="Elevator"> <br/>
						                <span class="filterName">Elevator</span>
						        </label>
					</div>
      			</div>
    		</div>

  		</div>
	</div>
</template>

<template name="houseModal">
	<div id="houseAmenities" class="modal fade" role="dialog">
  		<div class="modal-dialog">
			<div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">House Amenities</h4>
			    </div>
			    <div class="modal-body">
			      	<div class="row">
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/tv.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="TV"><br/>
						        	<span class="filterName">TV</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="DTH Service"> <br/>
						        	<span class="filterName">DTH Service</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Wi-Fi"> <br/>
						        	<span class="filterName">Wi-Fi</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/fridge.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Fridge"> <br/>
						        	<span class="filterName">Fridge</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/ac.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="AC"> <br/>
						        	<span class="filterName">AC</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/geyser.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Geyser"> <br/>
						        	<span class="filterName">Geyser</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Water Purifier"> <br/>
						        	<span class="filterName">Water Purifier </span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/washingmachine.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Washing Machine"> <br/>
						        	<span class="filterName">Washing Machine</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Sofa"> <br/>
						        	<span class="filterName">Sofa</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/studytable.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Table"> <br/>
						        	<span class="filterName">Table</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/cupboard.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Cupboards"> <br/>
						        	<span class="filterName">Cupboards</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Shoe Rack"> <br/>
						        	<span class="filterName">Shoe Rack</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Gas Stove"> <br/>
						        	<span class="filterName">Gas Stove</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/kitchen.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Modular Kitchen"> <br/>
						        	<span class="filterName">Modular Kitchen</span>
						        </label>
						        <label class="filterLabel">
						        	<img src="images/filterLabelGrey/wifi.png" style="height: 60px;">
						        	<input style="display:none;" type="checkbox" name="amenities" value="Room Service"> <br/>
						        	<span class="filterName">Room Service</span>
						        </label>
					</div>
      			</div>
    		</div>

  		</div>
	</div>
</template>

