.searchbox{
  border: 2px solid #fff;
  background-color: #fff;
  width: 100%;
}

.searchbox .input-group{
  width: 100%;
}

.searchbox .city-selector{
  width: 100px;
}

.searchbox .city-selector,
.searchbox .location,
.searchbox .go{
  border: none;
  height: 30px;
  box-shadow: none;
  outline: none;
  background-color: inherit;
  padding: 3px 12px;
  line-height: 1;
}

.searchbox .btn:active,
.searchbox .btn:focus,
.searchbox .btn:hover{
  background-color: inherit;
}

.searchbox .location{
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.searchbox .location:focus,
.searchbox .location:hover{
  border: none;
  padding-left: 15px;
}

.searchbox .input-group-addon{
  border: none;
  background-color: inherit;
}