h1{
	font-family:Verdana;
	color:#616161;
	text-align: left;
}
h2{
	font-family:Verdana;
	color:#616161;
	text-align: left;
}
h3{
	font-family:Verdana;
	color:#757575;
	text-align: left;
}
h4{
	font-family:Verdana;
	color:#757575;
	text-align: left;
}

h5{
	font-family:Verdana;
	color:#757575;
	text-align: left;
}

form{
	text-align: left;
	padding-top: 20px;
}

.form-group{
	padding-top: 13px;
}
.mapy{

	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
	background:#f5f5f5;
	width: 100%;
	margin-top:35px;

}