<template name="mapview">
  <title>
   Map View
  </title>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link rel="stylesheet" href="ionslider/ion.rangeSlider.skinFlat.css">
  <link rel="stylesheet" href="apps/iCheck/all.css">
    <div id="header-container">
    <div id="searchbox-container">
     <div class="searchbox">
      <button class="input-item select" id="city-selector">
       Banglore
       <span class="caret">
       </span>
      </button>
      <ul class="select-menu">
       <li>
        Delhi
       </li>
       <li>
        Mumbai
       </li>
       <li>
        Banglore
       </li>
       <li>
        Chennai
       </li>
      </ul>
      <input autocomplete="off" class="input-item" id="search-input" placeholder="Enter a query"/>
      <button class="input-item select" id="type-selector">
       Family
       <span class="caret">
       </span>
      </button>
      <ul class="select-menu">
       <li>
        Family
       </li>
       <li>
        Single Girl
       </li>
       <li>
        Single Boy
       </li>
      </ul>
      <button class="input-item" id="go-button">
       Go!
      </button>
     </div>
    </div>
    </div>

     <div class="container-fluid" style="padding:0px;">
    <div id="filter-sliding">
      <p style="padding-top:10px;text-align:center;"><i class="glyphicon glyphicon-filter"></i> Filters</p>
      <div class="filter-container">
      <div class="filter-section">
        <div class="filter-name"> Property Type</div>
        <input type="checkbox" class="minimal"> <label>Shared Room</label><br>
        <input type="checkbox" class="minimal"> <label>Private Room</label><br>
        <input type="checkbox" class="minimal"> <label>Private House</label><br>
      </div>
      <div class="filter-section">
        <div class="filter-name"> Monthly Rent</div>
        <div id="price-range-div" style="text-align:center;padding-bottom:10px;"> &#8377; 1000 - &#8377; 10000 </div>
        <input id="price-range" type="text" name="price-range" value="1000;10000" data-type="double" data-step="500" data-prefix="&#8377; " data-from="2000" data-to="50000" data-hasgrid="false">
      </div>
      <div class="filter-section">
        <div class="filter-name"> Tenant Type </div>
        <input type="radio" name="tenant-type" class="minimal"> <label>Single Boy</label><br>
        <input type="radio" name="tenant-type" class="minimal"> <label>Private Girl</label><br>
        <input type="radio" name="tenant-type" class="minimal"> <label>Family</label><br>
      </div>
      <div class="filter-section">
        <div class="filter-name"> House Type </div>
        <input type="checkbox" class="minimal"> <label>Apartment</label><br>
        <input type="checkbox" class="minimal"> <label>Independent</label><br>
        <input type="checkbox" class="minimal"> <label>Villa</label><br>
      </div>
      <div class="filter-section">
        <div class="filter-name"> Furnishing </div>
        <input type="checkbox" class="minimal"> <label>Fully Furnished</label><br>
        <input type="checkbox" class="minimal"> <label>Semi Furnished</label><br>
        <input type="checkbox" class="minimal"> <label>Unfurnished</label><br>
      </div>
      <div class="filter-section">
        <div class="filter-name"> Facilities </div>
        <input type="checkbox" class="minimal"> <label>Wi-Fi</label><br>
        <input type="checkbox" class="minimal"> <label>Food Service</label><br>
        <input type="checkbox" class="minimal"> <label>Room Service</label><br>
        <input type="checkbox" class="minimal"> <label>Domestic Help</label><br>
      </div>
      </div>
    </div>
    <div class="col-md-8 hidden-xs " style="padding:0px">  
      <div class="mapcontainer" id="map">
        
      </div>
    </div>
    <div class="col-md-4" style="padding:0px">
      <div class="item-list-container">
      <a href="details.html">
        <div class="list-item">
          <div class="house-img">
              <img src="thumb_home2.jpg">
              <div class="house-rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <div class="house-for">
                BOYS&nbsp;
              </div>
              <div class="whishlist">
                <a><i class="glyphicon glyphicon-heart-empty"></i></a>
              </div>
          </div>
          <div class="house-desc">
            <div class="house-title">
              Choudhary House
            </div>
            <div class="house-data">
              Pandav Nagar | 2BHK
            </div>
            <div class="house-rent">
              &#8377; 5000
            </div>
          </div>
        </div>
      </a>
      <a href="details.html">
        <div class="list-item">
          <div class="house-img">
              <img src="theme_pic.png">
              <div class="house-rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <div class="house-for">
                BOYS&nbsp;
              </div>
              <div class="whishlist">
                <a><i class="glyphicon glyphicon-heart-empty"></i></a>
              </div>
          </div>
          <div class="house-desc">
            <div class="house-title">
              Choudhary House
            </div>
            <div class="house-data">
              Pandav Nagar | 2BHK
            </div>
            <div class="house-rent">
              &#8377; 5000
            </div>
          </div>
        </div>
      </a>
      <a href="details.html">
        <div class="list-item">
          <div class="house-img">
              <img src="thumb_home.jpg">
              <div class="house-rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <div class="house-for">
                BOYS&nbsp;
              </div>
              <div class="whishlist">
                <a><i class="glyphicon glyphicon-heart-empty"></i></a>
              </div>
          </div>
          <div class="house-desc">
            <div class="house-title">
              Choudhary House
            </div>
            <div class="house-data">
              Pandav Nagar | 2BHK
            </div>
            <div class="house-rent">
              &#8377; 5000
            </div>
          </div>
        </div>
      </a>
      <a href="details.html">
        <div class="list-item">
          <div class="house-img">
              <img src="thumb_home2.jpg">
              <div class="house-rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <div class="house-for">
                BOYS&nbsp;
              </div>
              <div class="whishlist">
                <a><i class="glyphicon glyphicon-heart-empty"></i></a>
              </div>
          </div>
          <div class="house-desc">
            <div class="house-title">
              Choudhary House
            </div>
            <div class="house-data">
              Pandav Nagar | 2BHK
            </div>
            <div class="house-rent">
              &#8377; 5000
            </div>
          </div>
        </div>
      </a>
      <a href="details.html">
        <div class="list-item">
          <div class="house-img">
              <img src="thumb_home2.jpg">
              <div class="house-rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <div class="house-for">
                BOYS&nbsp;
              </div>
              <div class="whishlist">
                <a><i class="glyphicon glyphicon-heart-empty"></i></a>
              </div>
          </div>
          <div class="house-desc">
            <div class="house-title">
              Choudhary House
            </div>
            <div class="house-data">
              Pandav Nagar | 2BHK
            </div>
            <div class="house-rent">
              &#8377; 5000
            </div>
          </div>
        </div>
      </a>
      <a href="details.html">
        <div class="list-item">
          <div class="house-img">
              <img src="thumb_home2.jpg">
              <div class="house-rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <div class="house-for">
                BOYS&nbsp;
              </div>
              <div class="whishlist">
                <a><i class="glyphicon glyphicon-heart-empty"></i></a>
              </div>
          </div>
          <div class="house-desc">
            <div class="house-title">
              Choudhary House
            </div>
            <div class="house-data">
              Pandav Nagar | 2BHK
            </div>
            <div class="house-rent">
              &#8377; 5000
            </div>
          </div>
        </div>   
      </a>    
      </div>
    </div>
    <div class="modal fade" id="login-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="internal-login">
          <label id="sign-in-label">Sign In</label>
            <form action="#" method="post">
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="minimal"> Remember Me
                </label>
              </div>
          </div>
          <div id="sign-in-container">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
        </form>
          <div id="forget-pass"><a href="#">Forgot Password?</a></div>
          <div id="create-acc"><a href="#">Create an account.</a></div> 
          </div>
          <div class="external-login">
            <a class="btn btn-block btn-social btn-facebook">
              <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
            <a class="btn btn-block btn-social btn-google">
              <span class="fa fa-google"></span> Sign in with Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="jquery-1.11.3.js" type="text/javascript"></script>
  <script src="bootstrap/js/bootstrap.js" type="text/javascript"></script>
  <script src="iCheck/icheck.min.js"></script>
  <script src="ionslider/ion.rangeSlider.min.js"></script>
  <script src="bootstrap-star-rating/js/star-rating.js" type="text/javascript"></script>
  <script src="" type="text/javascript"></script>
  <script src="slimScroll/jquery.slimscroll.min.js"></script>
  <script src="iCheck/icheck.min.js"></script>
  <script type="text/javascript">
    $('#filter-toggle').click(function(e){
          $("#filter-sliding").toggleClass("filter-sliding-open");
      });
    $('.item-list-container').slimScroll({
      height: '92vh',
      alwaysVisible: true
    });
    $('.filter-container').slimScroll({
      height: '85vh',
      alwaysVisible: true
    });
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
    $('#price-range').ionRangeSlider({
      onChange:function (data) {
        var value = '&#8377; ' + data.fromNumber + ' - &#8377; ' + data.toNumber;
        $('#price-range-div').html(value);
    }
    });
  </script>
  <script>
    function CenterControl(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '1px solid #fff';
        controlUI.style.borderRadius = '2px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.style.marginTop = '8px';
        controlUI.style.marginRight = '8px';
        //controlUI.title = 'Click to recenter the map';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('a');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '12px';
        controlText.style.lineHeight = '28px';
        controlText.style.height = '34px';
        controlText.style.width = '80px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.style.marginLeft = '1px solid rgba(0,0,0,0.1)';
        controlText.innerHTML = '<i class="glyphicon glyphicon-filter"></i> Filters';
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to Chicago.
        controlText.addEventListener('click', function() {
          $("#filter-sliding").toggleClass("filter-sliding-open");
        });

        controlText = document.createElement('a');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '12px';
        controlText.style.lineHeight = '28px';
        controlText.style.height = '34px';
        controlText.style.width = '80px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.href = 'listview.html';
        controlText.innerHTML = '<i class="glyphicon glyphicon-th"></i> Grid View';
        controlUI.appendChild(controlText);
      }

      </script>
</template>