<template name="mapview">
    {{> searchBox}}
</template>

<template name="searchBox">
  <style type="text/css">
    .search-input{
      text-align: center;
      max-width: 1000px;
      margin: 0 auto;
    }
  </style>

  <div class="input-group container">
    <div class="city-filter col-md-2">
      <button type="button" class="btn btn-default dropdown-toggle filter-btn city-btn"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Cities
        <span class="caret"></span>
      </button>
      <ul class="city-dropdown dropdown-menu">
        <li><a href="#">All Cities</a></li>
        <li><a href="#">Dehradun</a></li>
        <li><a href="#">Moradabad</a></li>
        <li><a href="#">Patna</a></li>
      </ul>
    </div>

    <div class="amenities-filter col-md-2">
      <button type="button" class="btn btn-default dropdown-toggle filter-btn amenities-btn"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Amenities
        <span class="caret"></span>
      </button>
      <ul class="amenities-dropdown dropdown-menu">
        <li><a href="#">Wifi</a></li>
        <li><a href="#">AC</a></li>
        <li><a href="#">Geyser</a></li>
      </ul>
    </div>

  </div>
    
    <ol class="leaderboard">
      {{#each listingsArr }}
        {{> listingCard}}
      {{/each}}
    </ol>

</template>

<template name="listingCard">
  <style type="text/css">
    .traceMap{
      margin: 10px;
      padding: 10px;
      width: 150px;
    }
    .card-listing{
      border-radius: 3px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
      height: 430px;
      max-width: 390px;
      margin: 20px;
    }
    .card-listing > .listing-img{
      width:100%;
    }
    .listing-table{
      text-align: left;
    }
    .listing-table > tr > td{
      padding-left: 10px;
    }
    .listing-container{
      text-align: center;
    }

  </style>
  <div class="card-listing col-md-4">
    <img class="listing-img col-md-4" src="http://rentflees.com/upload/{{image}}"/> 
    <div class="listing-container">
      <h2>{{title}}</h2>
      <div>
        <table class="listing-table">
          <tr>
            <td><strong>Address:</strong> </td>
            <td>{{address}}</td> <br/>
          </tr>

          <tr>
            <td><strong>Rent:</strong> </td>
            <td>{{rent}}</td> <br/>
          </tr>

          <tr>
            <td><strong>Security:</strong></td>
            <td>{{security}}</td><br/>
          </tr>

          <tr>
            <td><strong>Type:</strong> </td>
            <td>{{type}}</td> <br/>
          </tr>

          <tr>
            <td><strong>Category:</strong> </td>
            <td>{{category}}</td> <br/>
          </tr>

          <tr>
            <td><strong>Description:</strong> </td>
            <td>{{description}}</td> <br/>
          </tr>

          <tr>
            <td><strong>FoodServices:</strong> </td>
            <td>{{foodServices}}</td> <br/>
          </tr>

          <tr>
            <td><strong>Rules:</strong> </td>
            <td>{{rules}}</td> <br/>
          </tr>

          <tr>
            <td><strong>Amenities:</strong> </td>
            <td>{{amenities}}</td> <br/>
          </tr>

          <tr>
            <td><strong>Owner's User name:</strong> </td>
            <td>{{ownerUname}}</td> <br/>
          </tr>

          <tr>
            <td><strong>Owner's Name:</strong> </td>
            <td>{{owner}}</td> <br/>
          </tr>

          <tr>
            <td><strong>Owner's Email:</strong> </td>
            <td>{{ownerEmail}}</td> <br/>
          </tr>

        </table>
      </div>
      <button id= "{{_id}}" class="traceMap btn btn-primary">
      View on Map</button>
    </div>
  </div> 
</template>