<template name="index">
    <div class="container-table">
     <div class="row vertical-center-row">
      <div class="col-md-12">
       <div class="section-header" id="section2-header">
        Rentflees. Launching Soon.
       </div>
      </div>
      <div class="col-md-offset-2 col-md-8 col-xs-12">
       <div id="searchbox">
        <div class="searchbox border-bottom">
      <button class="input-item select border-right" id="city-selector">
       Banglore
       <span class="caret">
       </span>
      </button>
      <ul class="select-menu">
       <li>
        Delhi
       </li>
       <li>
        Mumbai
       </li>
       <li>
        Banglore
       </li>
       <li>
        Chennai
       </li>
      </ul>
      <input autocomplete="off" class="input-item" id="search-input" placeholder="Enter a query"/>
      <button class="input-item" id="go-button"><i class="fa fa-search"></i></button>
     </div>
       </div>
      </div>
     </div>
    </div>
    <div class="container-fluid">
      <div class="row">
       <div class="col-md-12" style="padding:60px;">
        <div class="banners-heading">Top Searched Cities</div>
       </div>
       <div class="col-md-3 col-sm-4"> 
        <div class="banner">
         <img alt="Delhi" src="images/indiagate.jpg"/>
         <div class="body">
           Delhi
         </div>
         <div class="overlay"></div>
        </div>
       </div>
       <div class="col-md-3 col-sm-4">
        <div class="banner">
         <img alt="Mumbai" src="images/mumbai.jpg"/>
         <div class="body">
           Mumbai
         </div>
         <div class="overlay"></div>
        </div>
        </div>
       <div class="col-md-3 col-sm-4">
        <div class="banner">
         <img alt="Delhi" src="images/banglore.jpg"/>
         <div class="body">
           Banglore
         </div>
         <div class="overlay"></div>
        </div>
        </div>
       <div class="col-md-3 col-sm-4">
        <div class="banner">
         <img alt="Delhi" src="images/gurgoan.jpg"/>
         <div class="body">
           Gurgoan
         </div>
          <div class="overlay"></div>
        </div>
        </div>
       <div class="col-md-3 col-sm-6">
        <div class="banner">
         <img alt="Delhi" src="images/noida.jpg"/>
         <div class="body">
           Noida
         </div>
         <div class="overlay"></div>
        </div>
        </div>
       <div class="col-md-3 col-sm-4">
        <div class="banner">
         <img alt="Delhi" src="images/chennai.jpg"/>
         <div class="body">
           Chennai
         </div>
         <div class="overlay"></div>
        </div>
        </div>
       </div>
      </div>
    {{> loginModal}}
   <script src="apps/iCheck/icheck.min.js" type="text/javascript"></script>
   <script src="apps/searchbox.js" type="text/javascript"></script>
   <script src="apps/app.js" type="text/javascript"></script>
</template>
