<template name="index">
    <div class="container-table" id="main-gif">
     <div class="row vertical-center-row">
      <div class="col-md-12">
       <div class="section-header" id="section2-header">
        Rentflees. Launching Soon.
       </div>
      </div>
      <div class="col-md-offset-2 col-md-8 col-xs-12">
        {{> searchbox}}
      </div>
     </div>
    </div>
    <div class="container-fluid no-padding bg-light-grey" >
      <div class="row guide-div">
        <p class="center-text"> New to Renting? Our <a href="/rentingGuide"><b>Renting Expert</b></a> is here to help you. </p>
      </div>
      <div class="row salient-feature-div">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="salient-feature">
            <img class="auto-margin" src="images/24hrservice.svg" alt="24x7 support">
            <h4 class="center-text">24x7 Customer Support</h4>
            <p class="center-text">Our dedicated team is always up for queries and FAQ. Feel free to contact us, we won’t bite!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="salient-feature">
            <img class="auto-margin" src="images/verified-listings.svg" alt="Verified Listings">
            <h4 class="center-text">Verified Listings</h4>
            <p class="center-text">Rentflees provides 100% Verified listings and sought after places. After all, security isn’t something to compromise with. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="salient-feature">
            <img class="auto-margin" src="images/safe-payment.svg" alt="Safe and Easy payments">
            <h4 class="center-text">Safe and Easy Payments</h4>
            <p class="center-text">Paying solely through cash is tad cruel. We are flexible with other modes of payment. Pay Easy. Live Happy.</p>
          </div>
        </div>
      </div>
       <div class="row city-gallery bg-white">
        <h1 class="center-text">Trending Cities</h1>
        <div class="col-sm-6 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
          <div class="city-card hover chandigarh">
              <a href="#">
                <div class="inner">
                  <div class="city-name">Chandigarh</div>
                  <p class="city-content">An unplanned transfer to India’s first planned city or a new house hunting session might well bring you closer to us. We’re coming soon. Tune in till then.</p>
                </div>
              </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="city-card hover dehradun">
              <a href="#">
                <div class="inner">
                  <div class="city-name">Dehradun</div>
                  <p class="city-content">How can we give a miss to the “School capital of India”. All excited to serve the young guns we are set to start soon. Stay updated.</p>
                </div>
              </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="city-card hover delhi">
              <a href="#">
                <div class="inner">
                  <div class="city-name">Delhi</div>
                  <p class="city-content">They rightly say that in Delhi, houses the heart of the nation. Rentflees, no kidding, is set to steal your heart with some of the best renting options at your convenience. Hop in for more.</p>
                </div>
              </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
          <div class="city-card hover mumbai">
              <a href="#">
                <div class="inner">
                  <div class="city-name">Mumbai</div>
                  <p class="city-content">It is said that this city doesn’t sleep but we will find homes cozy enough for you to dream peacefully. Happy Homes to you.</p>
                </div>
              </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="city-card hover banglore">
              <a href="#">
                <div class="inner">
                  <div class="city-name">Banglore</div>
                  <p class="city-content">Let’s rent home the e-way today, sitting across packed boardrooms and corner offices. Coming soon for you. Stay tuned for more. </p>
                </div>
              </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="city-card hover chennai">
              <a href="#">
                <div class="inner">
                  <div class="city-name">Chennai</div>
                  <p class="city-content">No home here is better than the one which uphold the city’s culture grandeur. We are excited to cater to you, homes that you’ve always wanted to live into. Stay in touch for more.</p>
                </div>
              </a>
          </div>
        </div>
       </div> 
       <div class="how-it-works-wrapper">
         <div class="row">
          <div class="h2 center-text">How It Works</div>
         </div>
         <div class="row how-it-works">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">
                <div class="svg-wrapper">
                  <img class="img-responsive" id="top-view" src="images/top-view.svg" alt="1st image">
                </div>
                <div class="caption center-text">
                  <h3>Lorem Ipsum</h3>
                  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="svg-wrapper">
                  <img class="img-responsive" id="docs" src="images/documentation.svg" alt="2nd image">
                </div>
                <div class="caption center-text">
                  <h3>Lorem Ipsum</h3>
                  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="svg-wrapper">
                  <img class="img-responsive" id="hand-shake" src="images/hand-shake-hut.svg" alt="3rd image">
                </div>
                <div class="caption center-text">
                  <h3>Lorem Ipsum</h3>
                  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="fade-slider svg-wrapper-lg">
                <div><img class="img-responsive" src="images/how-it-works-desk.svg" alt="1st image"></div>
                <div><img class="img-responsive" src="images/fast-service.svg" alt="2nd image"></div>
                <div><img class="img-responsive" src="images/hand-shake-hut.svg" alt="3rd image"></div>
            </div>
            <div class="caption center-text">
                <h3>Lorem Ipsum</h3>
                <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel with-nav-tabs panel-primary" style="border-style:none;">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">For Owner</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">For Tenants</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">Owner Content</div>
                        <div class="tab-pane fade" id="tab2primary">Tenant Content</div>
                    </div>
                </div>
      </div>
      </div>
      {{> footer}}
</template>