/* temporary */

@media (min-width: 768px){
#main-gif{
  background: url('images/index-background.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

#top-cities-div{
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-india{
  background-image: url("images/bg-india.png");
}

.bg-delhi{
  background-image: url("images/bg-delhi.png");
}

.bg-noida{
  background-image: url("images/bg-noida.png");
}

.bg-gurgaon{
  background-image: url("images/bg-gurgaon.png");
}

.bg-chandigarh{
  background-image: url("images/bg-chandigarh.png");
}

.bg-dehradun{
  background-image: url("images/bg-dehradun.png");
}

.bg-mumbai{
  background-image: url("images/bg-mumbai.png");
}

.bg-banglore{
  background-image: url("images/bg-banglore.png");
}

.bg-chennai{
  background-image: url("images/bg-chennai.png");
}
}

.banner{
  display: block;
  width: 100%;
  height: 100px;
  background-color: transparent;
  border: 0;
  position: relative;
  border-radius: 50px;
  margin: 10px auto;
  margin-top: 30px;
  cursor: pointer;
  padding-left: 97px;
}

.banner img{
  display: inline;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
}

.banner .overlay{
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.15);
  border-radius: inherit;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.banner .city-name{
  display: block;
  text-align: center;
  height: 100%;
  padding: 26px 0;
  vertical-align: middle;
  font-size: 2em;
  margin: 0 auto;
}

.banners-heading{
  text-align: center;
  color: grey;
  font-size: 35px;
  font-family: Arial;
  font-weight: bold;
  color: #990909;
}

.salient-feature-div{
  margin: 50px 0 !important;
  color: black;
}

.salient-feature{
  margin: 10px;
}

.salient-feature img{
  height: 80px;
  width: 80px;
}

.salient-feature h4{
  margin-top: 10px;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 5px;
}

.guide-div{
  background-color: #fff;
  padding: 10px 0 !important;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(219,219,219,1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(219,219,219,1);
  box-shadow: 0px 1px 5px 2px rgba(219,219,219,1);
}

.guide-div p{
  margin: 5px;
  font-size: 16px;
}

.guide-div p b{
    font-weight: bold;
    font-size: 20px;
    font-family: CURSIVE;
}

.city-carousel .slick-slide{
  height: 500px;
}

.city-gallery{
  padding: 20px 0;
}

.photo{
  height: 200px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
}

.img-wrapper{
  position: relative;
}

.img-wrapper:before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0);
  transition: all 0.2s ease;
  z-index: 2;
}

.img-wrapper:hover:before{
  background: rgba(0,0,0,0.2);
}

.photo:after{
  content: attr(data-city);
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 900;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  background: transparent;
  z-index: 1;
}

.photo .slick-slide img{
  padding: 0;
}
