<template name="index">
    <div class="container-table" id="main-gif">
     <div class="row vertical-center-row">
      <div class="col-md-12">
       <div class="section-header" id="section2-header">
        Rentflees. Launching Soon.
       </div>
      </div>
      <div class="col-md-offset-2 col-md-8 col-xs-12">
        {{> searchbox}}
      </div>
     </div>
    </div>
    <div class="container-fluid">
      <div class="row" id="x">
        
      </div>
      <div class="row bg-india" id="top-cities-div">
       <div class="col-md-12" style="padding:60px;">
        <div class="banners-heading">Top Searched Cities</div>
       </div>
       <div class="col-md-3 col-sm-4 col-xs-12"> 
        <div class="banner" data-city="chandigarh">
         <img alt="Chennai" src="images/indiagate.jpg"/>
         <div class="city-name">
           Chandigarh
         </div>
         <div class="overlay"></div>
        </div>
       </div>
       <div class="col-md-3 col-sm-4 col-xs-12"> 
        <div class="banner" data-city="dehradun">
         <img alt="Dehradun" src="images/indiagate.jpg"/>
         <div class="city-name">
           Dehradun
         </div>
         <div class="overlay"></div>
        </div>
       </div>
       <div class="col-md-3 col-sm-4 col-xs-12"> 
        <div class="banner" data-city="delhi">
         <img alt="Delhi" src="images/indiagate.jpg"/>
         <div class="city-name">
           Delhi
         </div>
         <div class="overlay"></div>
        </div>
       </div>
       <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="banner" data-city="mumbai">
         <img alt="Mumbai" src="images/mumbai.jpg"/>
         <div class="city-name">
           Mumbai
         </div>
         <div class="overlay"></div>
        </div>
        </div>
       <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="banner" data-city="banglore">
         <img alt="Delhi" src="images/banglore.jpg"/>
         <div class="city-name">
           Banglore
         </div>
         <div class="overlay"></div>
        </div>
        </div>
       <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="banner" data-city="gurgaon">
         <img alt="Delhi" src="images/gurgoan.jpg"/>
         <div class="city-name">
           Gurgaon
         </div>
          <div class="overlay"></div>
        </div>
        </div>
       <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="banner" data-city="noida">
         <img alt="Delhi" src="images/noida.jpg"/>
         <div class="city-name">
           Noida
         </div>
         <div class="overlay"></div>
        </div>
        </div>
       <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="banner" data-city="chennai">
         <img alt="Delhi" src="images/chennai.jpg"/>
         <div class="city-name">
           Chennai
         </div>
         <div class="overlay"></div>
        </div>
        </div>
       </div>
      </div>
</template>
