<template name="renting-guide">
	<div class="container-fluid no-padding">
		<div class="row">
			<div class="renting-heading">
				How to Rent with Rentflees.
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" >
			<div class="col-sm-3 col-md-3 border-right">
				 <nav class="navbar navbar-default" role="navigation">
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			        </div>

			        <div class="collapse navbar-collapse">
				        <div class="panel-heading">Owner's Guide</div>
			            <ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="#">Section 1</a> </li>
							<li><a href="#">Section 2</a> </li>
							<li><a href="#">Section 3</a> </li>
							<li><a href="#">Section 4</a> </li>
							<hr>
							<li><a href="#">Section 5</a> </li>
							<li><a href="#">Section 6</a> </li>
							<li><a href="#">Section 7</a> </li>			            
						</ul>
			        </div>
			    </nav>
			</div>
			<div class="col-sm-9 col-md-9">
				<div class="section-content">
					<div class="section-heading">Section Heading</div>
					<div class="section-body">
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique commodo purus ut ornare. Praesent quis mi id urna euismod elementum in in turpis. Aliquam at lorem pharetra, auctor urna quis, dapibus turpis. Proin laoreet feugiat libero, rhoncus gravida nibh tincidunt non. Aliquam a nisl venenatis, eleifend lacus at, blandit tellus. Nam eu justo nulla. Vivamus est nibh, tincidunt molestie tincidunt ut, molestie non eros. Duis non elit eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent euismod sem risus, eget lobortis sem gravida at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>	
					</div>
				</div>
			</div>
		</div>
	</div>
</template>